<main class="container">
  <div class="h-0">
    <p class="alert alert-info ml-80" role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="info"><%= live_flash(@flash, :info) %></p>

    <p class="alert alert-danger ml-80" role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="error"><%= live_flash(@flash, :error) %></p>
  </div>
  <%= @inner_content %>
</main>
